body{background-color:#f6c453;}
h3{font-size:150%;text-align:center;font-family:timesnewroman;background:black;color:white;}
h1{font-size:350%;text-align:center;font-family:timesnewroman;color:Black;}
a:link, a:visited { background-color: black; color: white; padding: 15px 69px; text-align: center; text-decoration: none; display: inline-block;}
a:hover, a:active { background-color: black;}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
p{font-size:150%;text-align:center;font-family:timesnewroman;background:black;color:white;}